@import 'variables';


.features__block{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .features__des{
        user-select: none;

        p{
            font-size: 0.875rem;
            color: var(--medium-gray);
        }

        h4{
            font-family: $sen-font;
            font-size: 1.5rem;
            color: var(--medium-gray);
        }
    }

    img:hover{
        scale: 1.2;
    }

}
