@import 'variables';


.intro{
    background: url("./style-components/img/introBack/introBack.jpg");
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 88.8vh;
    min-width: 100%;


    .intro__block{
        margin-top: 14vh;

        color: var(--white);

        h3{
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .hThreeBold{
            font-weight: 800;
        }

        h1{
            font-size: 54px;
            font-family: $sen-font;
            letter-spacing: -2px;
            margin: 24px 0;
        }

        .pYellow{
            color: var(--yellow);

            &:hover{
                color: var(--white);
            }
        }

        .pTwo{
            margin: 16px 0 48px 0;
        }
    }

}